@model TrashCollector.Models.CustomerViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1>Create</h1>

<h4>CustomerViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Customer.FirstName" class="control-label"></label>
                <input asp-for="Customer.FirstName" class="form-control" />
                <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.LastName" class="control-label"></label>
                <input asp-for="Customer.LastName" class="form-control" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.StreetAddress" class="control-label"></label>
                <input asp-for="Address.StreetAddress" class="form-control" />
                <span asp-validation-for="Address.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.State" class="control-label"></label>
                <input asp-for="Address.State" class="form-control" />
                <span asp-validation-for="Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZipCode" class="control-label"></label>
                <input asp-for="Address.ZipCode" class="form-control" />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pickup.OneTimePickup" class="control-label"></label>
                <input asp-for="Pickup.OneTimePickup" class="form-control" />
                <span asp-validation-for="Pickup.OneTimePickup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pickup.StartDate" class="control-label"></label>
                <input asp-for="Pickup.StartDate" class="form-control" />
                <span asp-validation-for="Pickup.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pickup.EndDate" class="control-label"></label>
                <input asp-for="Pickup.EndDate" class="form-control" />
                <span asp-validation-for="Pickup.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pickup.PickupDay" class="control-label"></label>
                <select asp-for="Pickup.PickupDay" class="form-control" asp-items="@Model.Pickup.Days"></select>
                <span asp-validation-for="Pickup.PickupDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

