@model IEnumerable<TrashCollector.Models.MapViewModel>
@*@{

    ViewData["Title"] = "GoogleMap";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}*@


<h3 class="text-center">Address</h3>
<div id="map" style="height:800px;width:100%"></div>
<a asp-action="Index">Back to Home</a>

<script>
    function initMap() {
            var uluru = { lat: 43.0389, lng:-87.9065 };
            // The map, centered at Uluru <--Milwaukee-->
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 10, center: uluru });

        @if(Model.Count() > 0)
        { 
            @foreach(var item in Model)
            {
                <text>
                    var marker = new google.maps.Marker({ position: new google.maps.LatLng(@item.Latitude,@item.Longitude), map: map });
                </text>
            }
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyRUdbGYsbALxmqXoNgPyOLzcqJX1PQos&callback=initMap">
</script>


